<div style="width: 700px; justify-content: center;">
    <div class="text">
        1 Million GOAL
    </div>
    <div class="progressbar-container">
        <div class="progressbar" [style.width.%]="counterValue1m">
            <span>{{ counterValue1m }}%</span>
        </div>
    </div>
    <div class="text">
        100 Million GOAL
    </div>
    <div class="progressbar-container">
        <div class="progressbar" [style.width.%]="counterValue100m">
            <span>{{ counterValue100m }}%</span>
        </div>
    </div>
</div>