<div class="tablecontainer">
    <p-table [value]="workers" [scrollable]="true" scrollHeight="400px"[tableStyle]="{ 'max-height': '400px' }" >
            <ng-template pTemplate="caption" >
        <div class="headerContainer">
            <img src="../../assets/images/worker.png" style="width: 40px;">
            Worker ({{totalMoneyPerTick}}€/{{moneyInterval}}ms) ({{workers.length}}/{{maxWorker}})
            <p-button label={{getWorkerBuyLabel()}} [outlined]="true" size="small" (onClick)="addWorker()" [disabled]="!canAffortBuyWorker()"></p-button>
        </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>Work</th> 
                <th>Upgrade</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-worker>
            <tr>
                <td>{{ worker.name }}</td>
                <td>{{worker.level}}</td>
                <td>{{getWorkerTickValue(worker.level)}}€/Tick</td>
                <td><p-button label="{{getPriceUpgrade(worker.level)}}€" [outlined]="true" size="small" [disabled]="!canAffort(worker.level)" (onClick)="upgradeWorker(worker)"></p-button></td>

            </tr>
        </ng-template>
    </p-table>
</div>