@import '../shared/cards.css';

.tablecontainer {
    width: 500px;
}

.headerContainer {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    height: 20px !important;
}

.text {
    justify-content: left;
    display: flex;
    align-items: center;
    font-family: 'basic', sans-serif;
    font-size: 20px;
    color: #000;
}

