.tablecontainer {
    width: 500px;
    border: 3px solid #000;
}
 img{
    margin-right: 10px;
    width: 40px;
 }

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text {
    justify-content: left;
    display: flex;
    align-items: center;
    font-family: 'basic', sans-serif;
    font-size: 20px;
    color: #000;
}

.card-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    border: #c7c7c7 3px solid;
    border-radius: 15px;
    padding: 5px;
    font-family: 'basic', sans-serif;
    font-size: 25px;
    color: #000;
}

p-button {
    margin-left: 10px;
}